.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 90vh;
}
.card {
    margin-top: 160px;
    width: 480px;
    height: 460px;
}
.title {
    font-size: 24px;
}
.mt {
    margin-top: 12px;
}
.btn_signup_box {
    margin-top: 32px;
    button {
        background-color: rgb(255, 195, 128);
        color: white;
        width: 80px;
    }
}
.error_msg {
    margin-top: 32px;
    color:rgb(255, 101, 101);
}
