.btn {
    background-color: #ffc266;
    color: white;
}

.top-side {
    height: 100px;
    padding: 12px;
    padding-bottom: 0px;
    .search-area {
        width: 60%;
        .form-control {
            width: 320px;
        }
        .btn {
            background-color: #ffc266;
            i {
                color: white;
            }
        }
    }
}

.navs-area {
    padding: 12px;
    padding-top: 0px;
    .navs {
        background-color: #ffc266;
        color: white;
        border: none;
        font-size: 16px;
        padding: 4px;
        border-radius: 4px;
    }
}

.post-table {
    padding: 12px;
    .table-title {
        background-color: #ffc266;
        color: white;
        height: 48px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        select {
            width: 160px;
        }
        .sort {
            margin-left: 20px;
            span {
                margin-right: 6px;
            }
        }
        .poster {
            margin-right: 125px;
        }
        .updated {
            margin-right: 60px;
        }
    }
    .table-body {
        border: 1px solid #ffc266;
        cursor: pointer;
        .popular-category {
            width: 8%;
            .badge {
                background-color: #ffc266;
            }
            i {
                font-size: 14px;
            }
        }
        .title {
            width: 52%;
        }
        .poster {
            width: 20%;
            font-size: 12px;
        }
        .updated {
            width: 20%;
            font-size: 12px;
        }
    }
    .table-body:hover {
        background-color: #ffc266;
        color: white;
        .badge {
            background-color: white;
            color: #ffc266;
        }
    }
    .table-body:last-child {
        border-top: 0px;
    }
}

.paginations {
    height: 80px;
    .pagination {
        a {
            border: 2px solid #ffc266;
            border-radius: 6px;
            color: #ffc266;
            margin-right: 2px;
        }
        a:hover {
            background-color: #ffc266;
            color: white;
            cursor: pointer;
        }
        a:first-child {
            margin-left: 2px;
        }
    }
}

.other-area {
    .card {
        height: 600px;
    }
}
