.center {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.nav {
  color: white;
}

.drop_btn {
  background-color: white;
}

.user_icon {
  border-radius: 100%;
  background-color: white;
}

.user_icon:hover {
  border: 1px solid #ff7300;
}
