.ct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bd {
  border: 1px solid #000;
}

.change-sort {
  display: flex;
  justify-content: flex-end;
  padding-right: 3.4%;
}
.change-sort select {
  width: 180px;
}

.search-btn {
  background-color: #ffc38a;
  color: white;
  border: 1px solid rgba(224, 135, 18, 0.2);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.left-row {
  padding: 120px;
  padding-bottom: 0;
  padding-top: 0;
}

.tabs {
  width: 100%;
}
.tabs .left .btn {
  background-color: #ffc38a;
  color: white;
  border: 1px solid #e49c5a;
}
.tabs .left .btn:first-child {
  border-top-left-radius: 4px;
}
.tabs .left .btn:last-child {
  border-top-right-radius: 4px;
}
.tabs .right {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.tabs .right button {
  width: 160px;
}
.tabs .right select {
  width: 180px;
  font-size: 14px;
}

.posts table {
  border: 2px solid rgba(224, 135, 18, 0.2);
  width: 98%;
}
.posts table tr {
  height: 44px;
}
.posts table tr th {
  color: #a1671b;
  border-right: 2px solid rgba(224, 135, 18, 0.2);
  height: 100%;
  border-bottom: 2px solid rgba(224, 135, 18, 0.2);
}
.posts table tr td {
  color: #a1671b;
  height: 100%;
  border-bottom: 2px solid rgba(224, 135, 18, 0.2);
  border-right: 2px solid rgba(224, 135, 18, 0.2);
}
.posts table tr .star {
  width: 10%;
  text-align: center;
}
.posts table tr .title {
  width: 62%;
  padding-left: 20px;
}
.posts table tr .user {
  width: 12%;
  text-align: center;
}
.posts table tr .update {
  width: 16%;
  text-align: center;
}
.posts table tbody tr:hover {
  cursor: pointer;
  background-color: #ffc38a;
}
.posts table tbody tr:hover * {
  color: white;
}
.posts .no-find {
  border: 2px solid rgba(224, 135, 18, 0.2);
  border-top: 0;
  width: 98%;
  height: 60px;
}

.create_post_btn {
  width: 100px !important;
  border-top-right-radius: 4px;
  background-color: #ffc38a;
  color: white;
  border: 1px solid rgba(224, 135, 18, 0.2);
}

.create_post_btn:hover {
  color: white;
}

.page {
  height: 100px;
}
.page nav {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  color: #000;
}
.page nav a {
  color: #e08712;
  border: 1px solid rgba(224, 135, 18, 0.2);
  cursor: pointer;
}

.page-selected {
  color: #ff7e42 !important;
}
