.btn {
  background-color: #ffc266;
  color: white;
}

.top-side {
  height: 100px;
  padding: 12px;
  padding-bottom: 0px;
}
.top-side .search-area {
  width: 60%;
}
.top-side .search-area .form-control {
  width: 320px;
}
.top-side .search-area .btn {
  background-color: #ffc266;
}
.top-side .search-area .btn i {
  color: white;
}

.navs-area {
  padding: 12px;
  padding-top: 0px;
}
.navs-area .navs {
  background-color: #ffc266;
  color: white;
  border: none;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
}

.post-table {
  padding: 12px;
}
.post-table .table-title {
  background-color: #ffc266;
  color: white;
  height: 48px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.post-table .table-title select {
  width: 160px;
}
.post-table .table-title .sort {
  margin-left: 20px;
}
.post-table .table-title .sort span {
  margin-right: 6px;
}
.post-table .table-title .poster {
  margin-right: 125px;
}
.post-table .table-title .updated {
  margin-right: 60px;
}
.post-table .table-body {
  border: 1px solid #ffc266;
  cursor: pointer;
}
.post-table .table-body .popular-category {
  width: 8%;
}
.post-table .table-body .popular-category .badge {
  background-color: #ffc266;
}
.post-table .table-body .popular-category i {
  font-size: 14px;
}
.post-table .table-body .title {
  width: 52%;
}
.post-table .table-body .poster {
  width: 20%;
  font-size: 12px;
}
.post-table .table-body .updated {
  width: 20%;
  font-size: 12px;
}
.post-table .table-body:hover {
  background-color: #ffc266;
  color: white;
}
.post-table .table-body:hover .badge {
  background-color: white;
  color: #ffc266;
}
.post-table .table-body:last-child {
  border-top: 0px;
}

.paginations {
  height: 80px;
}
.paginations .pagination a {
  border: 2px solid #ffc266;
  border-radius: 6px;
  color: #ffc266;
  margin-right: 2px;
}
.paginations .pagination a:hover {
  background-color: #ffc266;
  color: white;
  cursor: pointer;
}
.paginations .pagination a:first-child {
  margin-left: 2px;
}

.other-area .card {
  height: 600px;
}
